@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600&display=swap');

body{
background-image: linear-gradient(to right, #A1D6EA, #D4EFF9, #F5FDFF);
font-family: 'Poppins', sans-serif;
}

*{
margin: 0px;
padding:0px;
}

.header{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  border-bottom: #f09b05 0.38vh solid;
  border-top: #f09b05 0.315vh solid;
  z-index: 1
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.content {
  padding-top: 102px;
}

.headtext{
  display: flex;
  margin: 2vh;
  padding:1vh;
  gap: 58.6vw;
}

@media only screen and (min-width: 1400px) {
  .headtext {
    gap: 70vw
  }
}


.titlediv{
  display: flex;
  justify-content: flex-start;
  margin-left: 2.3vw;
  font-family: 'DM Serif Display', serif;
  transform: scale(1.3)
}


.links{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding-top: 0.5vh;
  font-family: 'Poppins', sans-serif;
}

.alink{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.biocontainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 11%;
  margin-left: 8vw;
  margin-right: 8vw;
  gap: 4vw;
  margin-top: 11%;
  border: 2vh solid black;
  padding: 4vh;
  background-color: black;
  color: white;
}

.bioimg{
  width: 149.63px;
 height: 434.88px;
}

#gradpic{
   width: 149.63px;
  height: 434.88px;
  margin-left: 1vw
}


.biotext{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2%
}
.skillcontainer{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.skilltitle{
  display: flex;
  justify-content: center;
}

.skills{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
  gap: 4%
}

.skillimg {
  width: 5%;
  height: 5%;
}


.projtext{
  margin-bottom: 0.7vh
}

.projimg{
  margin-top: 4vh;
  z-index: 0
}

.movebuttons{
  margin-bottom: 4vh
}


#reactimg{
  padding-top: 3vh
}

#jsimg{
  padding-top: 1vh;
  width: 6%;
  height: 6%
}

#jqueryimg{
  padding-top: -1vh
}

#expressimg{
 padding-top: 4.9vh;
 width: 4%;
 height: 4%
}

.projtitle{
  margin-bottom: 1.9vh;
  font-weight: bolder
}

.techused{
  margin-bottom: 0.6vh
}


.buttonsdiv{
  display: flex;
  gap: 1vw
}

.resumebutton{
  background-color: #f09b05;
  border: none;
  padding: 2vw;
  font-weight: bolder;
  cursor: pointer;
}

.resumebutton:hover{
    background-color: #FEE3BC;
    transition-duration:0.29s;
}

.contactbutton{
  background-color: #f09b05;
  border: none;
  padding: 2vw;
  font-weight: bold;
  cursor: pointer;
}

.contactbutton:hover{
    background-color: #FEE3BC;
    transition-duration:0.29s;
}


.about{
  background-image: url("https://wallup.net/wp-content/uploads/2018/03/19/581773-New_York_City-sunset-cityscape-Empire_State_Building-30_Rockefeller_Plaza-top_of_the_rock-helicopter-scyscrapers-USA-Manhattan-building-One_World_Trade_Center.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15%;
  color: white;

}

.aboutText{
  display: flex;
  font-size: 3rem;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: -120px
}

.gitbutton{
  appearance: button;
  backface-visibility: hidden;
  background-color: #161c22;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 4vh;
  margin: 2vh 0 -1vh 1vh;
  padding: 1.14vh 1vh 1.53vh 1vh;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bolder;
}

.gitbutton:hover{
 background-color: #9cdaf0;
 transition-duration: 0.29s
}


.sitebutton{
  appearance: button;
  backface-visibility: hidden;
  background-color: #79589f;
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 4vh;
  margin: 2vh 0 0 1vh;
  padding: 1vh 1vh 2vh 1vh;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Libre Franklin', sans-serif;

}

.sitebutton:hover{
 background-color: #bfacd4;
 transition-duration: 0.29s
}


.gitlogo{
  max-height: 13.3px;
  max-width: 13.3px;
  margin-bottom: -0.15vh;
  margin-right: 0.35vw;

}

#projimg1{
  width: 1002.4px;
  height: 537.6px;
  margin-bottom: 3vh;
  margin-top: 3vh
}


#proj2img1{
  width: 817.33px;
  height: 453.33px;
  margin-top: 2vh
}

#proj2img2{
  width: 850.6667px;
  height: 286px;
  margin-bottom: 2vh
}

#proj3img{
  width: 847.33px;
  height: 458.66px;
  margin-bottom: 2vh
}

.proj4imgdiv{
  display: flex;
  flex-direction: row;
  gap: 3vh;
  justify-content: center;
  z-index: 0;
  margin-top: 4vh
}

#proj4img1{
  width: 576px;
  height: 282.9px;
  margin-bottom: 2vh;
  margin-top: 3vh
}

#proj4img2{
  width: 576px;
  height: 286.2px;
  margin-bottom: 2vh;
  margin-top: 3vh
}

#proj5img{
  width: 75%;
  height: 75%;
  margin-bottom: 2vh;
  margin-top: 3vh
}

.slideshow-container{
  display: flex;
  flex-direction: column;
  margin: 1.5vh;
  gap: 10%;
  text-align: center;
  background-color: black;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: #f09b05 0.315vh solid;
  border-top: #f09b05 0.315vh solid;
}


.mySlides {
  display: none;
}

.projtext{
  margin-left: 2.5vw;
  margin-right: 2.5vw
}

.prev, .next {
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

.next {
  bottom: 1;
  right: 0;
}

.next:hover{
  padding-left: 1.7vw;
  transition-duration: 0.29s
}

.prev:hover{
  padding-right: 1.7vw;
  transition-duration: 0.29s
}

.nextdiv{
  display: flex;
  justify-content: flex-start;
}

.prevdiv{
  display: flex;
  justify-content: flex-end;
}

.movebuttons{
  display: flex;
  justify-content: center
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 0.12vw;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:after {
  background-color: #f09b05;
  border: 1px solid black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mediaFoot{
  display: flex;
  justify-content: flex-start;
  margin-left: 0.96vw;
  margin-top: 6vh;
  margin-bottom: -1vh;
  font-weight: bolder;
  font-size: 120%
}

.mailto{
  text-decoration: none;
  cursor: pointer;
  font-size: 130%
}

.footer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  bottom: 3;
  left:3;
  right:3;
  width: 100%;
}

.footer a{
  padding: 15px;
  font-size: 60%;
  color: black;
}

.githubrepo img{
  width: 28px;
  height: 28px;
}

.linkedin img{
  width: 28px;
  height: 28px;
}

.FirstLdImg{
  display: block
}














 @media (max-width: 430px) {

  .header{
    height: 60px;
    width: 100%;
    font-size: 40%
  }


  .headtext {
    gap: 34vw;
    margin-top: 0.8vh;
    width: 375px;
    margin-right: -1vw
  }

  .links{
    font-size: 70%;
    margin-top: 0.6vh;
    margin-right: -4vw
  }


  .titlediv{
    margin-top: 1vh
  }


  .about{
    padding: 35%
  }

  .aboutText{
    font-size: 10px
  }

  .buttonsdiv{
    color: black
  }

  /* .resumebutton{
    width: 100%;
    height: 100%;
    font-size: 70%
  }

  .contactbutton{
    width: 100%;
    height: 100%;
    font-size: 70%
  } */

  .resumebutton{
    text-decoration: none;
    color: black;
    width: 40px;
    height: 21px;
    font-size: 60%
  }


  .contactbutton{
    text-decoration: none;
    color: black;
    width: 80px;
    height: 21px;
    font-size: 60%
  }

  .biocontainer{
    margin-left: 0;
    margin-right: 0
  }

  .bioimg{
    display: flex;
    align-content: center;
  }

  #gradpic{
    margin-top: 15px;
    width: 74.815px;
    height: 217.44px
  }

  .biotext{
    font-size: 10px
  }

  .aboutText{
    margin-left: -12vw;
    transform: scale(1.7);
  }

  .skills{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    gap: 2.2%
  }

  .skilltitle{
    font-size: 60%
  }

  .skillimg{
    width: 24px;
    height: 24px
  }

  #reactimg{
    width: 30px;
    height: 10px;
    padding-top: 7.7px
  }

  #jsimg{
    padding-top:0px;
    width: 27px;
    height: 21px;
  }

  #jqueryimg{
    padding-top: -1vh;
  }

  #expressimg{
   width: 21.5px;
   height: 5px;
   padding-top: 9.7px
  }

  #projimg1{
    width: 300.4px;
    height: 170px;
    margin-bottom: 3vh;
    margin-top: 3vh
  }

  #proj2img1{
    width: 326.932px;
    height: 181.332px
  }

  #proj2img2{
    width: 340.26668px;
    height: 114.4px
  }

  #proj3img{
    width: 282.443px;
    height: 152.886px;
    margin-bottom: 2vh
  }

  .proj4imgdiv{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    gap: 0
  }

  #proj4img1{
    width: 300px;
    height: 147.34375px;
    margin-bottom: 2.8vh
  }

  #proj4img2{
    width: 300px;
    height: 149.0625px;
    margin-bottom: 2vh;
    margin-top: 0
  }

  .projtext{
    margin-left: 5vw;
    margin-right: 5vw
  }


  .gitbutton{
    appearance: button;
    backface-visibility: hidden;
    background-color: #161c22;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 4vh;
    margin: 2vh 0 -1vh 1vh;
    padding: 1vh 1vh 1.5vh 1vh;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bolder;
  }

  .gitlogo{
    max-height: 1.84vh;
    max-width: 1.84vh;
    margin-bottom: -0.25vh;
    margin-right: 1.3vw
  }

  .dot {
    cursor: pointer;
    height: 1.05vh;
    width: 1.05vh;
    margin: 0 0.12vw;
    background-color: black;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    transition: background-color 0.2s ease;
  }

  .active, .dot:after {
    background-color: #f09b05;
    border: 1px solid black;
  }


  .mediaFoot{
    margin-left: 3.7vw;
  }
}
